<p id="notice"><%= notice %></p>

<%= image_tag @employer.image_url %>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employer.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employer.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @employer.website %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer), class: "btn btn-link" %> |
<%= link_to 'Back', employers_path, class: "btn btn-link" %>
